# **Oregon Wildfire Analysis - Cleaning and Descriptive Analysis**

## **01. Importing Libraries and Data**

In [17]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [18]:
# Create a path to project folder
path = r'C:\Users\jboer\OneDrive\Documents\Career Foundry\Oregon Wildfire Analysis'

In [19]:
# Importing dataset
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'fire_occurence.csv'), index_col = False)

## **02. Data Exploration**

In [20]:
# Checking shape of dataframe
df.shape

(23490, 38)

In [21]:
# Checking info of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Serial                  23490 non-null  int64
 1   FireCategory            23490 non-null  object
 2   FireYear                23490 non-null  int64
 3   Area                    23490 non-null  object
 4   DistrictName            23490 non-null  object
 5   UnitName                23490 non-null  object
 6   FullFireNumber          23490 non-null  object
 7   FireName                23490 non-null  object
 8   Size_class              23490 non-null  object
 9   EstTotalAcres           23411 non-null  float64
 10  Protected_Acres         23490 non-null  float64
 11  HumanOrLightning        23490 non-null  object
 12  CauseBy                 23362 non-null  object
 13  GeneralCause            23490 non-null  object
 14  SpecificCause           23266 non-null  object
 15  Cause_Comments          9805 non-null   object
 16  Lat_DD                  23480 non-null  float64
 17  Long_DD                 23480 non-null  float64
 18  LatLongDD               23480 non-null  object
 19  FO_LandOwnType          23490 non-null  object
 20  Twn                     23478 non-null  object
 21  Rng                     23475 non-null  object
 22  Sec                     23478 non-null  float64
 23  Subdiv                  23459 non-null  object
 24  LandmarkLocation        22208 non-null  object
 25  County                  23490 non-null  object
 26  RegUseZone              23440 non-null  object
 27  RegUseRestriction       23401 non-null  object
 28  Industrial_Restriction  23401 non-null  object
 29  Ign_DateTime            23396 non-null  object
 30  ReportDateTime          23490 non-null  object
 31  Discover_DateTime       23396 non-null  object
 32  Control_DateTime        23395 non-null  object
 33  CreationDate            23487 non-null  object
 34  ModifiedDate            23490 non-null  object
 35  DistrictCode            23490 non-null  int64
 36  UnitCode                23490 non-null  int64
 37  DistFireNumber          23490 non-null  object
dtypes: float64(5), int64(4), object(29)
memory usage: 6.8+ MB

## **03. Data Cleaning and Consistency Checks**

### 03.1. Dropping Columns

In [45]:
# Dropping columns not needed for analysis
df_cull = df.drop(columns = ['Serial','FireCategory','FullFireNumber','SpecificCause','Cause_Comments','LatLongDD','Twn','Rng','Sec','Subdiv','LandmarkLocation','RegUseZone','RegUseRestriction','Industrial_Restriction','CreationDate','ModifiedDate','DistrictCode','UnitCode','DistFireNumber'])

In [46]:
# Checking success of dropping columns
df_cull.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FireYear           23490 non-null  int64
 1   Area               23490 non-null  object
 2   DistrictName       23490 non-null  object
 3   UnitName           23490 non-null  object
 4   FireName           23490 non-null  object
 5   Size_class         23490 non-null  object
 6   EstTotalAcres      23411 non-null  float64
 7   Protected_Acres    23490 non-null  float64
 8   HumanOrLightning   23490 non-null  object
 9   CauseBy            23362 non-null  object
 10  GeneralCause       23490 non-null  object
 11  Lat_DD             23480 non-null  float64
 12  Long_DD            23480 non-null  float64
 13  FO_LandOwnType     23490 non-null  object
 14  County             23490 non-null  object
 15  Ign_DateTime       23396 non-null  object
 16  ReportDateTime     23490 non-null  object
 17  Discover_DateTime  23396 non-null  object
 18  Control_DateTime   23395 non-null  object
dtypes: float64(4), int64(1), object(14)
memory usage: 3.4+ MB

### 03.2. Missing Values

In [47]:
# Checking for missing values
df_cull.isnull().sum()

FireYear               0
Area                   0
DistrictName           0
UnitName               0
FireName               0
Size_class             0
EstTotalAcres         79
Protected_Acres        0
HumanOrLightning       0
CauseBy              128
GeneralCause           0
Lat_DD                10
Long_DD               10
FO_LandOwnType         0
County                 0
Ign_DateTime          94
ReportDateTime         0
Discover_DateTime     94
Control_DateTime      95
dtype: int64

In [48]:
# Calculating the mean ratio of Protected_Acres to EstTotalAcres
ratio = (df_cull['Protected_Acres'] / df_cull['EstTotalAcres']).mean()

In [49]:
# Checking ratio
ratio

0.9546592427359927

In [50]:
# Imputing missing values in EstTotalAcres using ratio
df_cull.fillna({'EstTotalAcres': df['Protected_Acres'] / ratio}, inplace=True)

In [51]:
df_cull.isnull().sum()

FireYear               0
Area                   0
DistrictName           0
UnitName               0
FireName               0
Size_class             0
EstTotalAcres          0
Protected_Acres        0
HumanOrLightning       0
CauseBy              128
GeneralCause           0
Lat_DD                10
Long_DD               10
FO_LandOwnType         0
County                 0
Ign_DateTime          94
ReportDateTime         0
Discover_DateTime     94
Control_DateTime      95
dtype: int64

In [52]:
# Imputing value of "Unknown" for null values in CauseBy column
df_cull['CauseBy'].fillna('Unknown', inplace=True)

C:\Users\jboer\AppData\Local\Temp\ipykernel_5184\3499400158.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cull['CauseBy'].fillna('Unknown', inplace=True)

In [54]:
# Dropping missing values from Lat_DD and Long_DD columns
df_cull.dropna(subset = ['Lat_DD', 'Long_DD'], inplace=True)

In [64]:
# Imputing a null timestamp value for the missing values in Ign_DateTime, Discover_DateTime, Control_DateTime columns
impute_columns = ['Ign_DateTime', 'Discover_DateTime', 'Control_DateTime']

for column in impute_columns:
    df_cull[column].fillna(pd.NaT, inplace=True)

C:\Users\jboer\AppData\Local\Temp\ipykernel_5184\1712451514.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cull[column].fillna(pd.NaT, inplace=True)

In [66]:
# Check that all missing values are taken care of
df_cull.isnull().sum()

FireYear              0
Area                  0
DistrictName          0
UnitName              0
FireName              0
Size_class            0
EstTotalAcres         0
Protected_Acres       0
HumanOrLightning      0
CauseBy               0
GeneralCause          0
Lat_DD                0
Long_DD               0
FO_LandOwnType        0
County                0
Ign_DateTime         85
ReportDateTime        0
Discover_DateTime    86
Control_DateTime     86
dtype: int64

#### Missing values in the Ign_DateTime, Discover_DateTime, and Control_DateTime columns are ok since their absence means something to the analysis. Missing values in the Ign_DateTime column means they couldn't determine the date or time when the fire started. And missing values in the Discover and Control columns means that they likely didn't know the fires were happening until after they had put themselves out.

### 03.3. Data Types

In [57]:
# Changing data type of Ign_DateTime, ReportDateTime, Discover_DateTime, and Control_DateTime to datetime
convert_columns = ['Ign_DateTime', 'ReportDateTime', 'Discover_DateTime', 'Control_DateTime']

for column in convert_columns:
    df_cull[column] = pd.to_datetime(df_cull[column], format='%m/%d/%Y %H:%M')

In [61]:
# Checking changed data type
df_cull.dtypes

FireYear                      int64
Area                         object
DistrictName                 object
UnitName                     object
FireName                     object
Size_class                   object
EstTotalAcres               float64
Protected_Acres             float64
HumanOrLightning             object
CauseBy                      object
GeneralCause                 object
Lat_DD                      float64
Long_DD                     float64
FO_LandOwnType               object
County                       object
Ign_DateTime         datetime64[ns]
ReportDateTime       datetime64[ns]
Discover_DateTime    datetime64[ns]
Control_DateTime     datetime64[ns]
dtype: object

### 03.4. Duplicates

In [72]:
# Checking for full duplicates
df_dups = df_cull[df_cull.duplicated()]
print(df_dups)

Empty DataFrame
Columns: [FireYear, Area, DistrictName, UnitName, FireName, Size_class, EstTotalAcres, Protected_Acres, HumanOrLightning, CauseBy, GeneralCause, Lat_DD, Long_DD, FO_LandOwnType, County, Ign_DateTime, ReportDateTime, Discover_DateTime, Control_DateTime]
Index: []

### 03.5. Formatting

In [73]:
# Fixing formatting of columns names to match and changing some names for clarity
df_cull.rename(columns={
    'Size_class':'SizeClass',
    'Protected_Acres':'ProtectedAcres',
    'Lat_DD':'Latitude',
    'Long_DD':'Longitude',
    'FO_LandOwnType':'LandOwnType',
    'Ign_DateTime':'IgniteDateTime',
    'Discover_DateTime':'DiscoverDateTime',
    'Control_DateTime':'ControlDateTime'
}, inplace=True)

In [74]:
# Checking column name changes
df_cull.head()

,FireYear,Area,DistrictName,UnitName,FireName,SizeClass,EstTotalAcres,ProtectedAcres,HumanOrLightning,CauseBy,GeneralCause,Latitude,Longitude,LandOwnType,County,IgniteDateTime,ReportDateTime,DiscoverDateTime,ControlDateTime
0,2000,EOA,Central Oregon,John Day,Slick Ear #2,B,0.75,0.75,Lightning,Lightning,Lightning,44.91519,-119.28863,BLM,Grant,2000-07-18 19:00:00,2000-07-19 13:20:00,2000-07-19 13:15:00,2000-07-20 00:50:00
1,2000,EOA,Northeast Oregon,La Grande,Woodley,C,80.00,80.00,Lightning,Lightning,Lightning,45.08509,-118.33440,Other Private,Union,2000-08-24 05:30:00,2000-08-24 13:07:00,2000-08-24 13:07:00,2000-09-01 21:30:00
2,2001,SOA,Southwest Oregon,Grants Pass,QUEENS BRANCH,A,0.10,0.10,Human,Motorist,Smoking,42.53671,-123.21215,BLM,Jackson,2001-08-10 17:40:00,2001-08-10 17:47:00,2001-08-10 17:45:00,2001-08-10 18:30:00
3,2002,NOA,West Oregon,Philomath,WREN,A,0.01,0.01,Human,Motorist,Recreation,44.58709,-123.42779,State,Benton,2002-07-06 13:01:00,2002-07-06 13:04:00,2002-07-06 13:02:00,2002-07-06 13:07:00
4,2003,NOA,West Oregon,Dallas,Ritner Creek,A,0.01,0.01,Lightning,Lightning,Lightning,44.74026,-123.49811,Industrial,Polk,2003-08-22 04:00:00,2003-08-22 05:00:00,2003-08-22 05:00:00,2003-08-22 09:30:00

In [79]:
df_cull.shape

(23480, 19)

## 04. Descriptive Statistical Analysis

In [77]:
# Descriptive statistics of numerical columns
df_cull.describe()

,FireYear,EstTotalAcres,ProtectedAcres,Latitude,Longitude,IgniteDateTime,ReportDateTime,DiscoverDateTime,ControlDateTime
count,23480.000000,23480.000000,23480.000000,23480.000000,23480.000000,23395,23480,23394,23394
mean,2010.798552,264.471144,58.920062,43.718410,-122.258736,2011-05-04 02:53:21.191707904,2011-05-17 15:46:57.728279552,2011-05-07 14:47:49.148499456,2011-05-12 01:57:36.883816192
min,2000.000000,0.000000,0.000000,41.089460,-124.983610,1988-09-23 18:30:00,2000-03-13 14:00:00,2000-03-13 14:00:00,2000-03-13 15:01:00
25%,2005.000000,0.010000,0.010000,42.526093,-123.387420,2005-07-31 19:47:30,2005-08-04 14:19:00,2005-08-02 10:58:30,2005-08-03 11:22:30
50%,2011.000000,0.100000,0.100000,43.581805,-122.847220,2011-06-10 09:00:00,2011-07-05 05:53:30,2011-06-20 14:37:30,2011-06-23 11:24:30
75%,2017.000000,0.500000,0.350000,44.789518,-121.541827,2017-07-09 03:58:30,2017-07-15 15:26:00,2017-07-09 18:53:30,2017-07-12 12:43:30
max,2022.000000,499945.000000,154570.000000,46.235000,-116.521110,2022-11-26 18:00:00,2022-11-27 11:44:00,2022-11-27 11:15:00,2077-08-28 23:00:00
std,6.734325,6753.867371,1846.509491,1.226385,1.707589,NaN,NaN,NaN,NaN

In [78]:
# Finding the mode for all non-numerical columns
non_num_columns = df_cull.select_dtypes(include=['object'])

non_num_columns.mode()

,Area,DistrictName,UnitName,FireName,SizeClass,HumanOrLightning,CauseBy,GeneralCause,LandOwnType,County
0,SOA,Southwest Oregon,Grants Pass,Mill Creek,A,Human,Lightning,Lightning,Rural Residential,Jackson

## 05. Exporting Data

In [80]:
# Exporting cleaned dataset
df_cull.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'fire_occurrence_clean.csv'))